@media all and (min-width: 1224px) {
  body {
    font-size: 20px;
  }

  .container {
    padding-right: 80px;
    padding-left: 80px;
  }

  .header-bar {
    align-items: flex-start;
    padding-top: 20px;
  }

  .header-logo {
    order: 1;
  }

  .header-logo__img {
    width: 130px;
  }

  .burger {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .contact {
    order: 3;
    align-self: flex-start;
  }

  .menu {
    order: 2;
    flex-grow: 1;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: auto;
    border: none;
    border-radius: 0;
    transform: none;
    transition: none;
  }

  .menu__list {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .menu__item {
    margin-bottom: 0;  
    width: auto;
    border: none;
    border-radius: 5px;
    text-align: center;
  }

  .menu__link {
    padding: 10px 0;
    background-image: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .menu__item:hover {
    box-shadow: none;
  }

  .tel {
    margin-bottom: 10px;
  }

  /*banner*/

  .banner__container {
    margin-right: 5%;
  }

  .banner__wrap {
    padding-top: 5%;
    padding-bottom: 8%;
  }

  .banner__header {
    padding-left: 5%;
  }

  .banner__desk {
    padding-left: 5%;
    font-size: 23px;
  }

  .banner__btn {
    margin-left: 5%;
    font-size: 23px;
  }

  .btn {
    padding: 16px 33px;
  }

  /*about*/

  .about__heading,
  .about__list {
    margin-bottom: 50px;
  }

  .section_heading {
    font-size: 32px;
    line-height: 42px;
  }

  .about__item {
    font-size: 19px;
    line-height: 27px;
  }

  .social__item:not(:last-child) {
    margin-right: 25px;
  }

  .social__link {
    padding: 25px;
    background-size: auto 40px;
  }

  /*todo*/

  .todo {
    background-image: url("../../img/todo/todo_bg-l-min.jpg");
  }

  .todo__item {
    width: 24%;
    padding: 110px .5% 25px .5%;
  }

  /*portfolio*/

  .swiper-slide {
    width: 40%;
  }

  
  .portfolio {
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .portfolio__heading,
  .swiper-container {
    margin-bottom: 60px;
  }
  
  .feedback {
    padding: 60px 0;
  }

  .feedback__heading {
    margin-bottom: 60px;
  }
}