
.feedback {
  padding: 40px 0 20px 0;
  background-image: url('../../img/feedback/feedback_bg-xs-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.feedback__heading {
  margin-bottom: 20px;
  text-align: center;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.feedback__wrap,
.feedback-form__wrap,
.feedback-form__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.feedback-form__bar {
  margin-top: 10px;
}

.feedback-form {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 20px; 
  -webkit-box-shadow: 0 0 20px var(--shadow); 
          box-shadow: 0 0 20px var(--shadow);
}

.feedback-form__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5px 0 15px 0;
}

.feedback-form__wrap {
  position: relative;
  padding-bottom: 15px;
}

.js-validate-error-label {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: var(--alarm);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.089em;
}

.feedback-form__desc {
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.067em;
  font-weight: 500;
}

.item_message {
  resize: none;
}

.feedback-form__item {
  padding: 5px 5px 5px 5px;
  border: 1px solid var(--grey);
  border-radius: 10px;  
  color: var(--darkblue);
}

.feedback-form__item:active,
.feedback-form__item:focus {
  -webkit-box-shadow: 0 0 4px 2px var(--blue);
          box-shadow: 0 0 4px 2px var(--blue);
  border: 1px solid var(--darkblue);
}

.feedback-form__item::-webkit-input-placeholder {
  color: var(--grey);
  background-position: 5px center;
  background-repeat: no-repeat;
  opacity: 1;
}

.feedback-form__item::-moz-placeholder {
  color: var(--grey);
  background-position: 5px center;
  background-repeat: no-repeat;
  opacity: 1;
}

.feedback-form__item:-ms-input-placeholder {
  color: var(--grey);
  background-position: 5px center;
  background-repeat: no-repeat;
  opacity: 1;
}

.feedback-form__item::-ms-input-placeholder {
  color: var(--grey);
  background-position: 5px center;
  background-repeat: no-repeat;
  opacity: 1;
}

.feedback-form__item::placeholder {
  color: var(--grey);
  background-position: 5px center;
  background-repeat: no-repeat;
  opacity: 1;
}

.item_name::-webkit-input-placeholder {
  background-image: url('../../img/feedback/name.svg');
  background-size: 1em;
}

.item_name::-moz-placeholder {
  background-image: url('../../img/feedback/name.svg');
  background-size: 1em;
}

.item_name:-ms-input-placeholder {
  background-image: url('../../img/feedback/name.svg');
  background-size: 1em;
}

.item_name::-ms-input-placeholder {
  background-image: url('../../img/feedback/name.svg');
  background-size: 1em;
}

.item_name::placeholder {
  background-image: url('../../img/feedback/name.svg');
  background-size: 1em;
}

.item_tel::-webkit-input-placeholder {
  background-image: url('../../img/feedback/phone.svg');
  background-size: 1em;
}

.item_tel::-moz-placeholder {
  background-image: url('../../img/feedback/phone.svg');
  background-size: 1em;
}

.item_tel:-ms-input-placeholder {
  background-image: url('../../img/feedback/phone.svg');
  background-size: 1em;
}

.item_tel::-ms-input-placeholder {
  background-image: url('../../img/feedback/phone.svg');
  background-size: 1em;
}

.item_tel::placeholder {
  background-image: url('../../img/feedback/phone.svg');
  background-size: 1em;
}

.item_email::-webkit-input-placeholder {
  background-image: url('../../img/feedback/emailfooter.svg');
  background-size: 1em;
}

.item_email::-moz-placeholder {
  background-image: url('../../img/feedback/emailfooter.svg');
  background-size: 1em;
}

.item_email:-ms-input-placeholder {
  background-image: url('../../img/feedback/emailfooter.svg');
  background-size: 1em;
}

.item_email::-ms-input-placeholder {
  background-image: url('../../img/feedback/emailfooter.svg');
  background-size: 1em;
}

.item_email::placeholder {
  background-image: url('../../img/feedback/emailfooter.svg');
  background-size: 1em;
}

.item_message::-webkit-input-placeholder {
  background-image: url('../../img/feedback/message.svg');
  background-size: 1em;
  background-position: top 5px;
}

.item_message::-moz-placeholder {
  background-image: url('../../img/feedback/message.svg');
  background-size: 1em;
  background-position: top 5px;
}

.item_message:-ms-input-placeholder {
  background-image: url('../../img/feedback/message.svg');
  background-size: 1em;
  background-position: top 5px;
}

.item_message::-ms-input-placeholder {
  background-image: url('../../img/feedback/message.svg');
  background-size: 1em;
  background-position: top 5px;
}

.item_message::placeholder {
  background-image: url('../../img/feedback/message.svg');
  background-size: 1em;
  background-position: top 5px;
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;  
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.038em;  
  cursor: pointer;
}

.consent_hide { 
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.consent__custom-checkbox {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 5px;
  width: 72px;
  height: 35px;
  border-radius: 18px;
  border: 2px solid var(--grey);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.consent__custom-checkbox::after {
  position: absolute;
  content: "";
  z-index: 2;
  left: 3px;
  bottom: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--grey);
  -webkit-transition: background-color .2s, -webkit-transform .2s;
  transition: background-color .2s, -webkit-transform .2s;
  -o-transition: transform .2s, background-color .2s;
  transition: transform .2s, background-color .2s;
  transition: transform .2s, background-color .2s, -webkit-transform .2s;
}

.consent__btn:not(:disabled):not(:checked) + .consent__custom-checkbox:hover {
  -webkit-box-shadow: 0 0 6px 4px var(--blue);
          box-shadow: 0 0 6px 4px var(--blue);
}

.consent__btn:hover + .consent__custom-checkbox,
.consent__btn:not(:disabled):active + .consent__custom-checkbox,
.consent__btn:not(:disabled):focus  + .consent__custom-checkbox,
.consent__btn:focus:not(:checked) + .consent__custom-checkbox {
  -webkit-box-shadow: 0 0 6px 4px var(--blue);
          box-shadow: 0 0 6px 4px var(--blue);
}

.consent__btn:checked + .consent__custom-checkbox::after {
  -webkit-transform: translateX(36px);
      -ms-transform: translateX(36px);
          transform: translateX(36px);
  background: var(--blue);
}

.consent__btn:disabled,
.consent__btn:disabled + .consent__custom-checkbox,
.consent__btn:disabled + .consent__custom-checkbox:hover,
.consent__btn:disabled:hover + .consent__custom-checkbox  {
  opacity: .5;;
  -webkit-box-shadow: none;;
          box-shadow: none;
}

.feedback__img {
  width: 90px;
}

.feedback__desk {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.023em;
  font-weight: 500;
}

.feedback__tel {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.feedback__nav-list {
  display: none;
}

.feedback__tel {
  font-weight: 600;
  letter-spacing: 0.075em;
  font-size: 18px;
  line-height: 42px;
}

.feedback__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__link {
  display: block;
  padding: 25px;
  background-repeat: no-repeat; 
  background-size: 30px 30px;
  background-position: center 15px;
}

.feedback__link:not(:last-child) {
  margin-right: 10px;
}

.copi {
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.067em;
  line-height: 27px;
  color: var(--white);
  background-color: var(--blue);
}






