.header-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.burger {
  position: relative;
  padding: 13px 13px;
  background-color: inherit;
  border: none;
  border-top: 3px solid var(--darkblue);
  -webkit-transition: border-color 0.1s;
  -o-transition: border-color 0.1s;
  transition: border-color 0.1s;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 3px;
  background: var(--darkblue);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: background 0.1s,
    -webkit-transform 0.1s;
  transition: background 0.1s,
    -webkit-transform 0.1s;
  -o-transition: transform 0.1s,
    background 0.1s;
  transition: transform 0.1s,
    background 0.1s;
  transition: transform 0.1s,
    background 0.1s,
    -webkit-transform 0.1s;
}

.burger::after {
  top: 6px;
}

.burger::before {
  top: 15px;
}

.burger:hover.burger::before,
.burger:active.burger::before,
.burger:focus.burger::before {
  background: var(--blue);
  -webkit-transform: scaleX(0.55);
      -ms-transform: scaleX(0.55);
          transform: scaleX(0.55);
}

.burger:hover,
.burger:active,
.burger:focus {
  border-color: var(--blue);
}

.burger:hover.burger::after,
.burger:active.burger::after,
.burger:focus.burger::after {
  background: var(--blue);
  -webkit-transform: scaleX(0.8);
      -ms-transform: scaleX(0.8);
          transform: scaleX(0.8);
}

.burger:focus {
  -webkit-box-shadow: 0 0 4px 2px var(--blue);
          box-shadow: 0 0 4px 2px var(--blue);
}

.header-logo__img {
  width: 60px;
}

.header-logo:focus {
  -webkit-box-shadow: 0 0 4px 2px var(--darkblue);
          box-shadow: 0 0 4px 2px var(--darkblue);
}

/* ------------menu------------------*/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px;
  max-width: 320px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: calc(0.7em/16);
  background-color: var(--background);
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menu_show {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menu-bar {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar__logo {
  margin-right: 60px;
}

.hide-btn {
  position: relative;
  padding: 20px;
  border: none;
  background: inherit;
}

.hide-btn::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: var(--darkblue);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hide-btn::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: var(--darkblue);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin-bottom: 4%;
  width: 48%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  text-align: center;
}

.menu__link {
  display: block;
  padding: 50px 0 20px 0;
  background-repeat: no-repeat;
  background-position: center 15px;
  background-size: 30px 30px;
}

.link_about {
  background-image: url('../../img/about.svg');
}

.link_todo {
  background-image: url('../../img/todo.svg');
}

.link_portfolio {
  background-image: url('../../img/portfolio.svg');
}

.link_question {
  background-image: url('../../img/question.svg');
}

/* ------------contacts------------------*/

.contact {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel {
  margin-right: 20px;
  font-weight: 500;
}

.contact__btn {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 13px 15px;
  border: none;
  background-color: inherit;
  background-image: url('../../img/header-contact.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ------------contacts menu------------------*/

.contact__menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px;
  max-width: 320px;
  width: 90%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: calc(0.7em/16);
  background-color: var(--background);
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.contact_show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__item {
  margin-bottom: 4%;
  width: 48%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  text-align: center;
}

.contact__link {
  display: block;
  padding: 50px 0 20px 0;
  background-repeat: no-repeat; 
  background-size: 30px 30px;
  background-position: center 15px;
}

.telegram {
  background-image: url('../../img/telegram.svg'); 
}

.whatsapp {
  background-image: url('../../img/whatsapp.svg');  
}

.viber {
  background-image: url('../../img/viber.svg'); 
}

.mail {
  background-image: url('../../img/email.svg');  
}

.github {
  background-image: url('../../img/github.svg');
}

.contact__item,
.menu__item {
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}

.contact__item:hover,
.menu__item:hover {
  -webkit-box-shadow: 0 0 4px 2px var(--blue);
          box-shadow: 0 0 4px 2px var(--blue);
}